<h1>Edit Task</h1>
<%= form_for @todo do |f| %>
  <%= f.label :task %>
  <%= f.text_field :title, required: true %>
  <br/>
  <%= f.label :priority %>
  <%= f.radio_button :priority, 'low', :checked => true %>
  <%= f.label :low %>
  <%= f.radio_button :priority, 'mild', :checked => false %>
  <%= f.label :mild %>
  <%= f.radio_button :priority, 'medium', :checked => false %>
  <%= f.label :medium %>
  <%= f.radio_button :priority, 'high', :checked => false %>
  <%= f.label :high %>
  <%= f.radio_button :priority, 'urgent', :checked => false %>
  <%= f.label :urgent %>
  <br/>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit %>

<% end %>
